# Lambda Function & List Comprehensions

#### Syntax of List Comprehension :
    1. new_list = [expression for item in iterable_list]
    2. new_list = [expression for item in iterable_list (if conditional)]
    3. new_list = [expression (if conditional) for item in iterable_list]

In [1]:
Squares = [i * i for i in range(10)]
Squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
Sentences = "the rocket came back from mars"

vowels = [i for i in Sentences if i in "aeiou"]
vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [3]:
consonants = [i for i in Sentences if i not in "aeiou" ]
# consonants

In [4]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

prices = [i  if i>0 else 0 for i in original_prices]
prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [5]:
quote = "life, uh, finds a way"

unique_vowels = {i for i in quote if i in "aeiou"}
unique_vowels

{'a', 'e', 'i', 'u'}

In [6]:
dict_squares = {i : i * i for i in range(10)}
dict_squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [7]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']

temps = {city: [0 for _ in range(7)] for city in cities}
temps

{'Austin': [0, 0, 0, 0, 0, 0, 0],
 'Charlotte': [0, 0, 0, 0, 0, 0, 0],
 'Sacramento': [0, 0, 0, 0, 0, 0, 0],
 'Tacoma': [0, 0, 0, 0, 0, 0, 0],
 'Topeka': [0, 0, 0, 0, 0, 0, 0]}

In [8]:
matrix = [[i for i in range(5)] for _ in range(6)]
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [9]:
matrix = [[0, 0, 0],
          [1, 1, 1],
          [2, 2, 2],]

flat = [i for row in matrix for i  in row]
flat

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [10]:
# Generators

sum([i * i for i in range(1000)])

332833500

In [11]:
sum(i * i for i in range(100000))

333328333350000

In [12]:
sum(map(lambda i: i*i, range(10000)))

333283335000

In [15]:
# The following list comprehension creates the Pythagorean triples:

[(x,y,z) for x in range(1,30) for y in range(x, 30) for z in range(y, 30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [16]:
# Cross product of two sets:

colours = [ "red", "green", "yellow", "blue" ]
things = [ "house", "car", "tree" ]

coloured_things = [ (x,y) for x in colours for y in things ]
coloured_things

[('red', 'house'),
 ('red', 'car'),
 ('red', 'tree'),
 ('green', 'house'),
 ('green', 'car'),
 ('green', 'tree'),
 ('yellow', 'house'),
 ('yellow', 'car'),
 ('yellow', 'tree'),
 ('blue', 'house'),
 ('blue', 'car'),
 ('blue', 'tree')]

In [20]:
x = (x**2 for x in range(20))
x # <generator object <genexpr> at 0x000001D4477B3150>

list(x)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [22]:
# Calculation of the prime numbers between 1 and 100 using the sieve of Eratosthenes:

noprimes = [j for i in range(2, 8) for j in range(i*2, 100, i)]
primes = [x for x in range(2, 100) if x not in noprimes]

primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

#### Python map() :
        takes two argument, syntex : map(function, sequence)

In [24]:
temp = [1,20, 100, -4]

list(map(lambda T : T*9/5+32, temp))

[33.8, 68.0, 212.0, 24.8]

#### Python reduce() :
    takes two argument, syntex : reduce(function, sequence)

In [26]:
from functool import reduce

lst = [1,2,3]
reduce(lambda x,y : x+y , lst) #6

ModuleNotFoundError: No module named 'functool'

#### Python filter() :
takes two argument, syntex : filter(function, sequence)

In [31]:
lst = range(10)

list(filter(lambda num : num %2 == 0, lst))

[0, 2, 4, 6, 8]

#### Python Zip() :
        takes two argument, syntex : zip(list of a , list of  b) ; o/p - tuple(a,b)

In [45]:
a = [10,3,4,5,6,300]
b = [12,4,3,5,6,7,200]

list(map(lambda pair : max(pair) ,list(zip(a,b))))

# list(zip(a,b))

[12, 4, 4, 5, 6, 300]

#### python enumerate() :
            takes the list as an argument and returns the tuple

In [48]:
lst = [1,20,3]

list(enumerate(lst))

[(0, 1), (1, 20), (2, 3)]

In [67]:
# Zip function 

d1 = {'a':1, 'b' : 2}
d2 = {'c' : 3, 'd' : 4}

list(zip(d1,d2))

# list(zip(d2.values(),d1.values()))

[('a', 'c'), ('b', 'd')]

In [72]:
d2.pop('c')

3

In [73]:
d2

{'d': 4}

#### Any , All

In [81]:
lst = [True, False, True, False, True, False, True, False]
lst1 = [False, False,False]
lst2 = [True, True, True]

# any(lst)
all(lst1)
all(lst2)

True

In [79]:
complex(3,4)

(3+4j)